.text h1,
.dataTables_length label {
  color: white !important;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

/* a {
  color: #419bef !important;
} */

.table {
  color: white !important;
}

.card,
.card-header {
  background-color: #2d2c38 !important;
}

.navbar {
  background-color: #2d2c38 !important;
}

.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #3763f4 !important;
  --bs-btn-border-color: #3763f4 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2f54cf !important;
  --bs-btn-hover-border-color: #2c4fc3 !important;
  --bs-btn-focus-shadow-rgb: 85, 122, 246 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #2c4fc3 !important;
  --bs-btn-active-border-color: #294ab7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #3763f4 !important;
  --bs-btn-disabled-border-color: #3763f4 !important;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: #2f54cf !important;
  border-color: #3763f4 !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.form-control {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid #b3a1a1 !important;
  padding: 8px 10px !important;
}

.form-control::placeholder {
  color: #765d78 !important;
  font-size: 16px;
}

.checkbox-label {
  font-size: 16px;
  color: white;
  margin: 0;
  margin-right: 50px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.button-text {
  color: white !important;
}

.card-404 {
  padding-bottom: 50px;
}

hr.horizontal.light {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  ) !important;
}

.form-check:not(.form-switch) .form-check-input2[type='radio']:checked {
  border-color: yellow;
}

.form-check:not(.form-switch) .form-check-input2[type='radio']:after {
  transition: opacity 0.25s ease-in-out;
  content: '';
  position: absolute;
  width: 0.8375rem;
  height: 0.8375rem;
  border-radius: 50%;
  background-image: linear-gradient(195deg, #ec407a, #d81b60),
    var(--bs-gradient);
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.order-details table tr th {
  padding: 0 !important;
  color: red !important;
}

input,
textarea,
select {
  color: black !important;
  font-size: 16px !important;
}

input[type='file'] {
  color: white !important;
}

th {
  background-color: #1615158f !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-color: #161515b0 !important;
}

table {
  border-collapse: collapse;
  background-color: #24232b;
  border-color: #000000b0 !important;
}

tr:nth-child(even) {
  background-color: #212029;
}

th {
  padding: 8px !important;
}

/* .note-editor.note-airframe.codeview .note-editing-area .note-codable {
  color: white !important;
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-frame.codeview .note-editing-area .note-codable {
  background-color: white !important;
  color: black !important;
}

.panel-heading {
  background-color: white !important;
}

.btn-group-sm > .btn i,
.btn.btn-sm i {
  color: black;
}

.note-current-fontname,
.note-icon-caret {
  color: black;
}

button.note-btn.btn.btn-default.btn-sm.dropdown-toggle::after {
  color: white !important;
}
.note-popover .popover-content > .note-btn-group {
  color: black !important;
} */

.note-editor .note-toolbar .note-dropdown-menu,
.note-popover .popover-content .note-dropdown-menu {
  background-color: #282736;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

.note-dropdown-menu a {
  color: white;
}

.note-popover.popover,
.note-editor.note-airframe.fullscreen,
.note-editor.note-frame.fullscreen {
  background-color: #282736;
}

.note-editor.note-frame .note-editing-area .note-codable {
  background-color: #2d2c38 !important;
  color: white !important;
}

.modal-open {
  z-index: 99 !important;
}

.modal-backdrop.show {
  z-index: 1;
}
