.darker-item {
  color: #000; /* black text */
  background-color: #2d2c38; /* light grey background */
}

.dropdown-menu .dropdown-item {
  color: white;
  border-radius: 10px;
}

.dropdown-item:hover {
  color: black;
  font-weight: bold;
}

.ref-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ref-sale-badge {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 2em;
  right: 2em;
  background-color: #20be8a;
  border-radius: 25px;
  padding: 3px 10px;
  color: white;
  z-index: 999;
}

.ref-original-price {
  color: gray;
}

.ref-selling-price {
  color: white;
  margin-left: 10px;
}

.selling-price {
  color: #04ffab !important;
  margin-left: 20px;
}

.orig-price h5 {
  font-size: 18px;
}

.product-badge {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 2em;
  right: 2em;
  background-color: #20be8a;
  border-radius: 25px;
  padding: 3px 10px;
  color: white;
  z-index: 999;
}

.card {
  border-radius: 20px;
  transition: all 0.3s;
}
.card2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;

  transition: all 0.2s;
}

.card2:hover {
}

.bg-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(55, 99, 244, 0.1);
  transform: scale(1.02);
  border-radius: 20px;
}

input.input-quantity[type='number']::-webkit-inner-spin-button,
input.input-quantity[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group-text:hover {
  box-shadow: 0px 0px 30px 1px rgba(55, 99, 244, 0.1);
}

.cart-text-sm {
  font-size: 12px;
}
