.darker-item {
  color: #000; /* black text */
  background-color: #2d2c38; /* light grey background */
}

.dropdown-menu .dropdown-item {
  color: white;
  border-radius: 10px;
}

.dropdown-item:hover {
  color: black;
  font-weight: bold;
}
